# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Extensions
*.so
*.mp4
*.srt
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/

# Environment
.env
.venv
venv/
env/
env.bak/

# Miscellaneous
*.bak
*.swp
*~
*.DS_Store
*.tmp
